{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsReel</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offcanvas.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>

<body background="{% static 'images/251H.jpg' %}">

    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'news_display' %}"><img src="{% static 'images/Logo.png' %}" alt="News Reel" style="width:32px; height:32px; margin-top:-5px;"> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'news_display' %}">Back</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->


    <div class="container" id="parent" style="padding:50px;">
      <div id="child">
        <form id="login_form" method="POST" enctype="multipart/form-data" class="form-signin"> {% csrf_token %}
             <h2 class="form-signin-heading" >Sign In</h2>
            <input class="form-control" type="text" name="username" placeholder="Username"/>
            <input class="form-control" type="password" name="password" placeholder="Password"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="submit">Log in</button>
        </form>
      </div>  <!--/.child-->
        </div><!--/.container-->

  <footer>
    <p style="text-align:center">&copy; 2016 The Encyclopaedophiles, Inc.</p>
  </footer>

    <!-- Bootstrap core JavaScript
    ==================================================
    Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
  </body>


</html>

