{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsDrop</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offcanvas.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    </script>

</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'news_display' %}"><img src="{% static 'images/Logo.png' %}" alt="News Reel" style="width:32px; height:32px; margin-top:-5px;"> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">1. Choose categories</a></li>
            <li class="active"><a href="">2. Choose RSS feeds</a></li>
            <li><a href="{% url 'news_display' %}">Continue →</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->




    <div class="container" style="text-align:center;">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-18 col-sm-12 col-lg-12">

          <div class="row">
            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/politics.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Politics</h3>
              <hr>
            </div><!--/.col-sm-3.col-lg-3-->

            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/sport.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Sport</h3>
              <hr>
            </div><!--/.col-sm-3.col-lg-3-->  

            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/music.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Music</h3>
              <hr>
             </div><!--/.col-sm-3.col-lg-3-->  

            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/business.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Business</h3>
              <hr>
            </div><!--/.col-sm-3.col-lg-3-->   

            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/technology.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Technology</h3>
            </div><!--/.col-sm-3.col-lg-3-->

            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/fitness.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Fitness</h3>
            </div><!--/.col-sm-3.col-lg-3-->   

            <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/education.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Education</h3>
              </div><!--/.col-sm-3.col-lg-3--> 

              <div class="col-sm-3 col-lg-3" id="categories">
              <img src="{% static 'images/environment.jpg' %}" alt="News Reel" style="width:150px; height:150px;">
              <h3>Environment</h3>
              </div><!--/.col-sm-3.col-lg-3--> 

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
      
      </div><!--/row-->  
    </div><!--/.container--> 

  <footer>
    <p style="text-align:center">&copy; 2016 The Encyclopaedophiles, Inc.</p>
  </footer>

    <!-- Bootstrap core JavaScript
    ==================================================
    Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
</body>
</html>